:root {
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

ol, ul {
    list-style-type: none;
}

em {
    font-style: normal;
    text-decoration: underline dotted;
}

a:hover {
    cursor: pointer;
}

.position-fixed {
    z-index: 1;
}

.fs-7 {
    font-size: 0.8rem;
}

.text-success-bright {
    color: rgb(33, 241, 33);
}

.text-bg-secondary {
    background-color: #353A40!important;
    color: #EEEFEF;
}

.navbar-brand img {
    width: 120px;
    height: auto;
}

.navbar-collapse {
    text-align: end;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 575px) {
    .superpuesto {
        position: relative;
        left: 0;
        top: 0;
    }
}

@media only screen and (min-width: 576px) {
    .superpuesto {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
    }
}

.destino-nav {
    scroll-margin-top: 4rem;
}

.nav-item:hover {
    cursor: pointer;
}

.titulo-seccion {
    display: flex;
    flex-direction: column-reverse;

    padding-top: 0.7rem;

    text-transform: uppercase;
    text-align: center;
}

.volanta {
    font-size: 0.7rem;
    font-weight: normal;
    margin-bottom: 0;
}

.sombra {
    box-shadow: 0 0.3rem 2rem black;
}

.text-primary-dark {
    color: #245;
}

.bg-gradiente {
    background: #134;
    background: linear-gradient(+90deg,#134, #257);
}

.btn-success {
    background-color: #97C93E;
    border-color: #97C93E;
}