* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style-type: none;
}

em {
    font-style: normal;
    text-decoration: underline dotted;
}

a {
    color: #EEEFEF!important;
    text-decoration: none;
}

h2, h6 {
    text-transform: uppercase;
}

.text-bg-secondary {
    background-color: #353A40!important;
    color: #EEEFEF!important;
}

.navbar-brand img {
    width: 120px;
    height: auto;
}

.navbar-collapse {
    text-align: end;
    flex-direction: row-reverse;
}