* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style-type: none;
}

em {
    font-style: normal;
    text-decoration: underline dotted;
}

a:hover {
    cursor: pointer;
}

.position-sticky {
    z-index: 1;
}

.fs-7 {
    font-size: 0.8rem;
}

.text-bg-secondary {
    background-color: #353A40!important;
    color: #EEEFEF;
}

.navbar-brand img {
    width: 120px;
    height: auto;
}

.navbar-collapse {
    text-align: end;
    flex-direction: row-reverse;
}

.conferencia-articulo {
    display: inline-block;
}

/* estas reglas son para la flech arriba que por el momento esta descartada.
.volver-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
*/

@media only screen and (max-width: 575px) {
    .conferencia-articulo {
        position: relative;
        right: 0;
        top: 0;
    }
}

@media only screen and (min-width: 756px) {
    .conferencia-articulo {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.destino-nav {
    scroll-margin-top: 2.9rem;
}

.titulo-seccion {
    display: flex;
    flex-direction: column-reverse;

    padding-top: 0.7rem;

    text-transform: uppercase;
    text-align: center;
}

.volanta {
    font-size: 0.7rem;
    font-weight: normal;
    margin-bottom: 0;
}